@model Contrib.Mod.ChangePassword.ViewModels.ChangePasswordViewModel
@{
    Script.Require("jQuery").AtHead();
    Script.Include("MicrosoftAjax.js").AtHead(); 
    Script.Include("MicrosoftMvcAjax.js").AtHead(); 
    Script.Include("MicrosoftMvcValidation.js").AtHead();        
}
<p>
        Only use this facility to reset the user password. After which the user should change
        their password once they have logged on.</p>
    
@using (Html.BeginFormAntiForgeryPost())
{
<fieldset>
    @Html.HiddenFor(e=> e.UserId)
    <p>Changing password for: <b>@Model.UserPart.UserName</b></p>

    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(e => e.Password, T("Password"))
        @Html.PasswordFor(e => e.Password)
        @Html.ValidationMessageFor(e=> e.Password)
    </div>
    <div>
        @Html.LabelFor(e => e.ConfirmPassword, T("Confirm Password"))

        @Html.PasswordFor(e => e.ConfirmPassword)
        @Html.ValidationMessageFor(e=> e.ConfirmPassword)
    </div>
    
</fieldset>
    <p>
        <button class="primaryAction" type="submit">@T("Save")</button>
    </p>
} 

